<div>
    <table>
        <tr>
            <td>id</td>
            <td>duration</td>
            <td>date</td>
            <td>patient ID</td>
            <td>patient name</td>
            <td>patient tel</td>
            <td>doctorId</td>
        </tr>
        <tr *ngFor="let t of treats">
            <td>{{t.id}}</td>
            <td>{{t.duration}}</td>
            <td>{{t.date}}</td>
            <td>{{t.patient.idNumber}}</td>
            <td>{{t.patient.name}}</td>
            <td>{{t.patient.tel}}</td>
            <td>{{t.patient.doctorId}}</td>
        </tr>
    </table>
</div>