<div>
    <div>treatId:{{treatment.id}}</div>
    <div>patientName:{{treatment.patient.name}}</div>
    <div>patientID:{{treatment.patient.idNumber}}</div>
    <div>patientTel:{{treatment.patient.tel}}</div>
    <input type="number" placeholder="משך הטיפול" [(ngModel)]="treatment.duration" name="duration"
        #duration1="ngModel" />
    <br/><input type="date" placeholder="תאריך הטיפול" [(ngModel)]="treatment.date" name="date" minlength="3"
        #date1="ngModel" />
       <br/> <button (click)="saveUpdate()">שמור פרטי טיפול</button>
</div>